// Конфигурационный файл для de-configurator

feature "vpn" enabled=true {
    state "off" {
        display-name "VPN выключен"
    }

    state "warp" {
        display-name "Warp"
        interface "w"
        up-cmd "doas" "wg-quick" "up" "w"
        down-cmd "doas" "wg-quick" "down" "w"
    }

    state "finland" {
        display-name "Финляндия"
        interface "fl"
        up-cmd "doas" "wg-quick" "up" "fl"
        down-cmd "doas" "wg-quick" "down" "fl"
    }
}

feature "keybinds" enabled=true {
    // Управление VPN (события передаются в VPN модуль)
    bind "ctrl+shift+f9" {
        vpn "off"
    }

    bind "ctrl+shift+f10" {
        vpn "warp"
    }

    bind "ctrl+shift+f11" {
        vpn "finland"
    }

    // Запуск внешних приложений
    bind "ctrl+shift+t" {
        run "alacritty"
    }
}
